{{#each this}}
  <div class="fullMarkupFlagBox"><img class='flag' src='{{flags.svg}}' alt='' /></div>
  <h2 class="fullMarkupCountry">{{name.official}}</h2>
  <ul class="fulltList">
    <li class="fullMarkupItem"><p>{{capital}}</p></li>
    <li class="fullMarkupItem"><p>{{population}}</p></li>
    <li class="fullMarkupItem">{{#each languages }} {{.}}{{#unless @last}},{{/unless}} {{/each}}</li>
  </ul>
{{/each}}